# More Basics of Pandas

Last session we introduced Pandas quickly. Now we review the basics of using Pandas, with a more interactive workflow to solidify understanding and facility with this powerful Python toolkit.

## Reviewing Pandas Basics

In [1]:
from pandas import DataFrame
import pandas as pd

In [2]:
import pandas as pd
df = pd.read_csv('ca_tracts_pop_cleaned.csv')

### Basics of indexing in Pandas

The first use of indexing is to use a slice, just like we have done with other Python objects. Below we slice the first 5 index values of the first dimension of the dataframe.

In [3]:
df[:5]

,POPGROUP,label,GEOIDLONG,GEOID,geodisplay,Population
0,1,Total population,1400000US06001400100,6001400100,"Census Tract 4001, Alameda County, California",2937
1,1,Total population,1400000US06001400200,6001400200,"Census Tract 4002, Alameda County, California",1974
2,1,Total population,1400000US06001400300,6001400300,"Census Tract 4003, Alameda County, California",4865
3,1,Total population,1400000US06001400400,6001400400,"Census Tract 4004, Alameda County, California",3703
4,1,Total population,1400000US06001400500,6001400500,"Census Tract 4005, Alameda County, California",3517

The first indexing method is equivalent to usinf the iloc indexing method, which uses the integer based indexing, purely based on the location of the index.

In [4]:
df.iloc[:5]

,POPGROUP,label,GEOIDLONG,GEOID,geodisplay,Population
0,1,Total population,1400000US06001400100,6001400100,"Census Tract 4001, Alameda County, California",2937
1,1,Total population,1400000US06001400200,6001400200,"Census Tract 4002, Alameda County, California",1974
2,1,Total population,1400000US06001400300,6001400300,"Census Tract 4003, Alameda County, California",4865
3,1,Total population,1400000US06001400400,6001400400,"Census Tract 4004, Alameda County, California",3703
4,1,Total population,1400000US06001400500,6001400500,"Census Tract 4005, Alameda County, California",3517

A second way to index is using loc, which uses the labels of the index. Note that this approach includes the second value in the index range, whereas iloc does not.

In [5]:
df.loc[:5]

,POPGROUP,label,GEOIDLONG,GEOID,geodisplay,Population
0,1,Total population,1400000US06001400100,6001400100,"Census Tract 4001, Alameda County, California",2937
1,1,Total population,1400000US06001400200,6001400200,"Census Tract 4002, Alameda County, California",1974
2,1,Total population,1400000US06001400300,6001400300,"Census Tract 4003, Alameda County, California",4865
3,1,Total population,1400000US06001400400,6001400400,"Census Tract 4004, Alameda County, California",3703
4,1,Total population,1400000US06001400500,6001400500,"Census Tract 4005, Alameda County, California",3517
5,1,Total population,1400000US06001400600,6001400600,"Census Tract 4006, Alameda County, California",1571

Note that indexing can work for both rows and colums

In [6]:
df.loc[:5, : 'GEOID']

   POPGROUP             label             GEOIDLONG       GEOID
0         1  Total population  1400000US06001400100  6001400100
1         1  Total population  1400000US06001400200  6001400200
2         1  Total population  1400000US06001400300  6001400300
3         1  Total population  1400000US06001400400  6001400400
4         1  Total population  1400000US06001400500  6001400500
5         1  Total population  1400000US06001400600  6001400600

In [7]:
df.iloc[:5, :4]

   POPGROUP             label             GEOIDLONG       GEOID
0         1  Total population  1400000US06001400100  6001400100
1         1  Total population  1400000US06001400200  6001400200
2         1  Total population  1400000US06001400300  6001400300
3         1  Total population  1400000US06001400400  6001400400
4         1  Total population  1400000US06001400500  6001400500

We can select rows based on their value as well.  Notice that we nest df[df[condition]] to get this result.

In [8]:
df[df['Population'] < 200]

,POPGROUP,label,GEOIDLONG,GEOID,geodisplay,Population
688,1,Total population,1400000US06017031900,6017031900,"Census Tract 319, El Dorado County, California",133
2729,1,Total population,1400000US06037532400,6037532400,"Census Tract 5324, Los Angeles County, California",112
3051,1,Total population,1400000US06037574700,6037574700,"Census Tract 5747, Los Angeles County, California",117
3473,1,Total population,1400000US06037930101,6037930101,"Census Tract 9301.01, Los Angeles County, Cali...",119
3477,1,Total population,1400000US06037980004,6037980004,"Census Tract 9800.04, Los Angeles County, Cali...",169
3478,1,Total population,1400000US06037980008,6037980008,"Census Tract 9800.08, Los Angeles County, Cali...",145
3479,1,Total population,1400000US06037980010,6037980010,"Census Tract 9800.10, Los Angeles County, Cali...",164
3482,1,Total population,1400000US06037980019,6037980019,"Census Tract 9800.19, Los Angeles County, Cali...",173
3483,1,Total population,1400000US06037980024,6037980024,"Census Tract 9800.24, Los Angeles County, Cali...",186
4906,1,Total population,1400000US06065940100,6065940100,"Census Tract 9401, Riverside County, California",166
5719,1,Total population,1400000US06073005500,6073005500,"Census Tract 55, San Diego County, California",198
5726,1,Total population,1400000US06073006200,6073006200,"Census Tract 62, San Diego County, California",144
6433,1,Total population,1400000US06075980300,6075980300,"Census Tract 9803, San Francisco County, Calif...",171

In [9]:
df[df['GEOID']==6017031900]

,POPGROUP,label,GEOIDLONG,GEOID,geodisplay,Population
688,1,Total population,1400000US06017031900,6017031900,"Census Tract 319, El Dorado County, California",133

Here we show how to set a value of a cell in the table, identifying a specific row by index label, and setting its population, in this case to a None value, which Pandas interprets as a NaN (missing value).

In [10]:
df.loc[688,'Population'] = None

We can filter for values that are Null

In [11]:
df[df['Population'].isnull()]

,POPGROUP,label,GEOIDLONG,GEOID,geodisplay,Population
688,1,Total population,1400000US06017031900,6017031900,"Census Tract 319, El Dorado County, California",NaN

Or more commonly, filter out the null values.

In [12]:
df[df['Population'].notnull()]

,POPGROUP,label,GEOIDLONG,GEOID,geodisplay,Population
0,1,Total population,1400000US06001400100,6001400100,"Census Tract 4001, Alameda County, California",2937.0
1,1,Total population,1400000US06001400200,6001400200,"Census Tract 4002, Alameda County, California",1974.0
2,1,Total population,1400000US06001400300,6001400300,"Census Tract 4003, Alameda County, California",4865.0
3,1,Total population,1400000US06001400400,6001400400,"Census Tract 4004, Alameda County, California",3703.0
4,1,Total population,1400000US06001400500,6001400500,"Census Tract 4005, Alameda County, California",3517.0
5,1,Total population,1400000US06001400600,6001400600,"Census Tract 4006, Alameda County, California",1571.0
6,1,Total population,1400000US06001400700,6001400700,"Census Tract 4007, Alameda County, California",4206.0
7,1,Total population,1400000US06001400800,6001400800,"Census Tract 4008, Alameda County, California",3594.0
8,1,Total population,1400000US06001400900,6001400900,"Census Tract 4009, Alameda County, California",2302.0
9,1,Total population,1400000US06001401000,6001401000,"Census Tract 4010, Alameda County, California",5678.0
10,1,Total population,1400000US06001401100,6001401100,"Census Tract 4011, Alameda County, California",4156.0
11,1,Total population,1400000US06001401200,6001401200,"Census Tract 4012, Alameda County, California",2416.0
12,1,Total population,1400000US06001401300,6001401300,"Census Tract 4013, Alameda County, California",3528.0
13,1,Total population,1400000US06001401400,6001401400,"Census Tract 4014, Alameda County, California",4314.0
14,1,Total population,1400000US06001401500,6001401500,"Census Tract 4015, Alameda County, California",2630.0
15,1,Total population,1400000US06001401600,6001401600,"Census Tract 4016, Alameda County, California",2163.0
16,1,Total population,1400000US06001401700,6001401700,"Census Tract 4017, Alameda County, California",2667.0
17,1,Total population,1400000US06001401800,6001401800,"Census Tract 4018, Alameda County, California",1703.0
18,1,Total population,1400000US06001402200,6001402200,"Census Tract 4022, Alameda County, California",2385.0
19,1,Total population,1400000US06001402400,6001402400,"Census Tract 4024, Alameda County, California",2351.0
20,1,Total population,1400000US06001402500,6001402500,"Census Tract 4025, Alameda County, California",1784.0
21,1,Total population,1400000US06001402600,6001402600,"Census Tract 4026, Alameda County, California",1151.0
22,1,Total population,1400000US06001402700,6001402700,"Census Tract 4027, Alameda County, California",1569.0
23,1,Total population,1400000US06001402800,6001402800,"Census Tract 4028, Alameda County, California",3345.0
24,1,Total population,1400000US06001402900,6001402900,"Census Tract 4029, Alameda County, California",1434.0
25,1,Total population,1400000US06001403000,6001403000,"Census Tract 4030, Alameda County, California",2788.0
26,1,Total population,1400000US06001403100,6001403100,"Census Tract 4031, Alameda County, California",2238.0
27,1,Total population,1400000US06001403300,6001403300,"Census Tract 4033, Alameda County, California",4054.0
28,1,Total population,1400000US06001403400,6001403400,"Census Tract 4034, Alameda County, California",4146.0
29,1,Total population,1400000US06001403501,6001403501,"Census Tract 4035.01, Alameda County, California",4374.0
...,...,...,...,...,...,...
7970,1,Total population,1400000US06113010704,6113010704,"Census Tract 107.04, Yolo County, California",2267.0
7971,1,Total population,1400000US06113010800,6113010800,"Census Tract 108, Yolo County, California",3881.0
7972,1,Total population,1400000US06113010901,6113010901,"Census Tract 109.01, Yolo County, California",5311.0
7973,1,Total population,1400000US06113010902,6113010902,"Census Tract 109.02, Yolo County, California",6189.0
7974,1,Total population,1400000US06113011001,6113011001,"Census Tract 110.01, Yolo County, California",6464.0
7975,1,Total population,1400000US06113011002,6113011002,"Census Tract 110.02, Yolo County, California",3093.0
7976,1,Total population,1400000US06113011101,6113011101,"Census Tract 111.01, Yolo County, California",3070.0
7977,1,Total population,1400000US06113011102,6113011102,"Census Tract 111.02, Yolo County, California",4884.0
7978,1,Total population,1400000US06113011103,6113011103,"Census Tract 111.03, Yolo County, California",3118.0
7979,1,Total population,1400000US06113011203,6113011203,"Census Tract 112.03, Yolo County, California",2561.0
7980,1,Total population,1400000US06113011204,6113011204,"Census Tract 112.04, Yolo County, California",4672.0
7981,1,Total population,1400000US06113011205,6113011205,"Census Tract 112.05, Yolo County, California",8123.0
7982,1,Total population,1400000US06113011206,6113011206,"Census Tract 112.06, Yolo County, California",7329.0
7983,1,Total population,1400000US06113011300,6113011300,"Census Tract 113, Yolo County, California",8106.0
7984,1,Total population,1400000US06113011400,6113011400,"Census Tract 114, Yolo County, California",4193.0
7985,1,Total population,1400000US06113011500,6113011500,"Census Tract 115, Yolo County, California",5325.0
7986,1,Total population,1400000US06115040100,6115040100,"Census Tract 401, Yuba County, California",4615.0
7987,1,Total population,1400000US06115040200,6115040200,"Census Tract 402, Yuba County, California",7767.0
7988,1,Total population,1400000US06115040301,6115040301,"Census Tract 403.01, Yuba County, California",3366.0
7989,1,Total population,1400000US06115040302,6115040302,"Census Tract 403.02, Yuba County, California",2143.0
7990,1,Total population,1400000US06115040303,6115040303,"Census Tract 403.03, Yuba County, California",6555.0
7991,1,Total population,1400000US06115040400,6115040400,"Census Tract 404, Yuba County, California",5538.0
7992,1,Total population,1400000US06115040500,6115040500,"Census Tract 405, Yuba County, California",4111.0
7993,1,Total population,1400000US06115040600,6115040600,"Census Tract 406, Yuba County, California",6130.0
7994,1,Total population,1400000US06115040700,6115040700,"Census Tract 407, Yuba County, California",10879.0
7995,1,Total population,1400000US06115040800,6115040800,"Census Tract 408, Yuba County, California",4233.0
7996,1,Total population,1400000US06115040901,6115040901,"Census Tract 409.01, Yuba County, California",2783.0
7997,1,Total population,1400000US06115040902,6115040902,"Census Tract 409.02, Yuba County, California",1737.0
7998,1,Total population,1400000US06115041000,6115041000,"Census Tract 410, Yuba County, California",7357.0
7999,1,Total population,1400000US06115041100,6115041100,"Census Tract 411, Yuba County, California",4941.0

Here we find and print records that are in El Dorado County, using the str attribute and 'contains' to search for the county name in geodisplay.

In [13]:
df[df['geodisplay'].str.contains('El Dorado County')]

,POPGROUP,label,GEOIDLONG,GEOID,geodisplay,Population
648,1,Total population,1400000US06017030200,6017030200,"Census Tract 302, El Dorado County, California",4773.0
649,1,Total population,1400000US06017030301,6017030301,"Census Tract 303.01, El Dorado County, California",2469.0
650,1,Total population,1400000US06017030302,6017030302,"Census Tract 303.02, El Dorado County, California",2867.0
651,1,Total population,1400000US06017030401,6017030401,"Census Tract 304.01, El Dorado County, California",3498.0
652,1,Total population,1400000US06017030402,6017030402,"Census Tract 304.02, El Dorado County, California",3723.0
653,1,Total population,1400000US06017030502,6017030502,"Census Tract 305.02, El Dorado County, California",2641.0
654,1,Total population,1400000US06017030504,6017030504,"Census Tract 305.04, El Dorado County, California",2912.0
655,1,Total population,1400000US06017030505,6017030505,"Census Tract 305.05, El Dorado County, California",2704.0
656,1,Total population,1400000US06017030601,6017030601,"Census Tract 306.01, El Dorado County, California",5044.0
657,1,Total population,1400000US06017030602,6017030602,"Census Tract 306.02, El Dorado County, California",6781.0
658,1,Total population,1400000US06017030603,6017030603,"Census Tract 306.03, El Dorado County, California",3566.0
659,1,Total population,1400000US06017030701,6017030701,"Census Tract 307.01, El Dorado County, California",6205.0
660,1,Total population,1400000US06017030704,6017030704,"Census Tract 307.04, El Dorado County, California",5961.0
661,1,Total population,1400000US06017030706,6017030706,"Census Tract 307.06, El Dorado County, California",6020.0
662,1,Total population,1400000US06017030709,6017030709,"Census Tract 307.09, El Dorado County, California",4806.0
663,1,Total population,1400000US06017030710,6017030710,"Census Tract 307.10, El Dorado County, California",4989.0
664,1,Total population,1400000US06017030801,6017030801,"Census Tract 308.01, El Dorado County, California",4011.0
665,1,Total population,1400000US06017030803,6017030803,"Census Tract 308.03, El Dorado County, California",7241.0
666,1,Total population,1400000US06017030804,6017030804,"Census Tract 308.04, El Dorado County, California",6377.0
667,1,Total population,1400000US06017030807,6017030807,"Census Tract 308.07, El Dorado County, California",3986.0
668,1,Total population,1400000US06017030808,6017030808,"Census Tract 308.08, El Dorado County, California",6897.0
669,1,Total population,1400000US06017030809,6017030809,"Census Tract 308.09, El Dorado County, California",2447.0
670,1,Total population,1400000US06017030810,6017030810,"Census Tract 308.10, El Dorado County, California",3437.0
671,1,Total population,1400000US06017030901,6017030901,"Census Tract 309.01, El Dorado County, California",3020.0
672,1,Total population,1400000US06017030902,6017030902,"Census Tract 309.02, El Dorado County, California",4687.0
673,1,Total population,1400000US06017031000,6017031000,"Census Tract 310, El Dorado County, California",6061.0
674,1,Total population,1400000US06017031100,6017031100,"Census Tract 311, El Dorado County, California",5462.0
675,1,Total population,1400000US06017031200,6017031200,"Census Tract 312, El Dorado County, California",5193.0
676,1,Total population,1400000US06017031301,6017031301,"Census Tract 313.01, El Dorado County, California",3408.0
677,1,Total population,1400000US06017031302,6017031302,"Census Tract 313.02, El Dorado County, California",4701.0
678,1,Total population,1400000US06017031402,6017031402,"Census Tract 314.02, El Dorado County, California",5896.0
679,1,Total population,1400000US06017031404,6017031404,"Census Tract 314.04, El Dorado County, California",2407.0
680,1,Total population,1400000US06017031405,6017031405,"Census Tract 314.05, El Dorado County, California",2426.0
681,1,Total population,1400000US06017031406,6017031406,"Census Tract 314.06, El Dorado County, California",5544.0
682,1,Total population,1400000US06017031502,6017031502,"Census Tract 315.02, El Dorado County, California",6031.0
683,1,Total population,1400000US06017031503,6017031503,"Census Tract 315.03, El Dorado County, California",2810.0
684,1,Total population,1400000US06017031504,6017031504,"Census Tract 315.04, El Dorado County, California",5337.0
685,1,Total population,1400000US06017031600,6017031600,"Census Tract 316, El Dorado County, California",4126.0
686,1,Total population,1400000US06017031700,6017031700,"Census Tract 317, El Dorado County, California",2648.0
687,1,Total population,1400000US06017031800,6017031800,"Census Tract 318, El Dorado County, California",6798.0
688,1,Total population,1400000US06017031900,6017031900,"Census Tract 319, El Dorado County, California",NaN
689,1,Total population,1400000US06017032000,6017032000,"Census Tract 320, El Dorado County, California",1015.0

We can find the unique values of a column (not very interesting in this particular case)

In [14]:
df['POPGROUP'].unique()

array([1], dtype=int64)

And count how many times each unique value is in the data

In [15]:
df['POPGROUP'].value_counts()

1    8000
Name: POPGROUP, dtype: int64

We saw last time how to use the str attribute to do string manipulation, such as to create a new column.  We need to explore some more advanced string processing, but let's use a smaller dataframe for that.

In [16]:
df['state'] = df['geodisplay'].str.split(',').str[2]
df[:5]

,POPGROUP,label,GEOIDLONG,GEOID,geodisplay,Population,state
0,1,Total population,1400000US06001400100,6001400100,"Census Tract 4001, Alameda County, California",2937.0,California
1,1,Total population,1400000US06001400200,6001400200,"Census Tract 4002, Alameda County, California",1974.0,California
2,1,Total population,1400000US06001400300,6001400300,"Census Tract 4003, Alameda County, California",4865.0,California
3,1,Total population,1400000US06001400400,6001400400,"Census Tract 4004, Alameda County, California",3703.0,California
4,1,Total population,1400000US06001400500,6001400500,"Census Tract 4005, Alameda County, California",3517.0,California

### More complex use of Indexing and String Manipulation -- Cleaning the Bedroom Field in the Craigslist data

In [19]:
import re as re, pandas as pd, numpy as np
cl = pd.read_csv('items.csv')
cl.head()

,neighborhood,title,price,bedrooms,pid,longitude,date,link,latitude,sqft,sourcepage
0,(SOMA / south beach),"1bed + Den, 1bath at Mission Bay",$2895,/ 1br - 950ft -,4046628359,-122.399663,Sep 4 2013,/sfc/apa/4046628359.html,37.774623,/ 1br - 950ft -,http://sfbay.craigslist.org/sfc/apa/
1,(SOMA / south beach),Love where you live!,$3354,/ 1br - 710ft -,4046761563,NaN,Sep 4 2013,/sfc/apa/4046761563.html,NaN,/ 1br - 710ft -,http://sfbay.craigslist.org/sfc/apa/
2,(inner sunset / UCSF),We Welcome Your Furry Friends! Call Today!,$2865,/ 1br - 644ft -,4046661504,-122.470727,Sep 4 2013,/sfc/apa/4046661504.html,37.765739,/ 1br - 644ft -,http://sfbay.craigslist.org/sfc/apa/
3,(financial district),Golden Gateway Commons | 2BR + office townhous...,$5500,/ 2br - 1450ft -,4036170429,NaN,Sep 4 2013,/sfc/apa/4036170429.html,NaN,/ 2br - 1450ft -,http://sfbay.craigslist.org/sfc/apa/
4,(lower nob hill),Experience Luxury Living in San Fransisco!,$3892,/ 2br -,4046732678,NaN,Sep 4 2013,/sfc/apa/4046732678.html,NaN,/ 2br -,http://sfbay.craigslist.org/sfc/apa/

This is a worked part of your assignment for this week.  Here is a code snippet that uses some of what we just learned above, and extends it to clean the bedroom field in this data.  Adapting it to clean sqft remains for you to do in the assignment...

In [20]:
for label in cl.bedrooms.index:
    if isinstance(cl.bedrooms[label], str) and not pd.isnull(cl.bedrooms[label]):
        end = cl.bedrooms[label].find('br')
        if end == -1:
            cl.loc[label,'bedrooms'] = np.nan
        else:
            start = cl.bedrooms[label].find('/ ') + 2
            cl.loc[label,'bedrooms'] = int(cl.bedrooms[label][start: end])
cl.bedrooms.head(9)

0      1
1      1
2      1
3      2
4      2
5      1
6    NaN
7      1
8      2
Name: bedrooms, dtype: object

## Working with Pandas -- an in-class working session

OK, let's create a DataFrame from a dictionary, following the example on pg 116 of Python for Data Analysis (PDA).

In [21]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
df = DataFrame(data)

Explain the contents and structure of 'data'

What does 'DataFrame(data)' do? What if we did not begin that line with 'df ='?

Look at the contents of df, using just df by itself, and 'print df'.

In [22]:
df

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

We can refer to a column in two ways:

In [23]:
df['state']

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
Name: state, dtype: object

In [24]:
df.state

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
Name: state, dtype: object

We can step through the rows in a dataframe

In [25]:
for label in df.state.index:
    print(df.state[label])

Ohio
Ohio
Ohio
Nevada
Nevada

And find the index value within each entry of a specific substring

In [26]:
for label in df.state.index:
    print(df.state[label].find('io'))

2
2
2
-1
-1

In [27]:
for label in df.state.index:
    if df.state[label]=='Ohio':
        print(df.state[label])
    else:
        print('Missing')

Ohio
Ohio
Ohio
Missing
Missing

## Now Your Turn

Below are a series of questions, with the answers remaining for you to fill in by using pandas expressions that draw on the methods in Chapter 5.  You should not need to use anything more than the content of this chapter -- a subset of the methods summarized above, to do this exercise.  Hopefully you can complete it within class if you've been keeping up with the reading.

How can we get a quick statistical profile of all the numeric columns?

In [28]:
df['pop'].describe()

count    5.000000
mean     2.420000
std      0.864292
min      1.500000
25%      1.700000
50%      2.400000
75%      2.900000
max      3.600000
Name: pop, dtype: float64

Can you get a profile of a column that is not numeric, like state? Try it.

In [29]:
df['state'].unique()

array(['Ohio', 'Nevada'], dtype=object)

How can we print the data types of each column?

In [30]:
df.dtypes

pop      float64
state     object
year       int64
dtype: object

How can we print just the column containing state names?

In [37]:
df['state']

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
Name: state, dtype: object

How can we get a list of the states in the DataFrame, without duplicates?

How can we get a count of how many rows we have in each state?

How can we compute the mean of population across all the rows?

How can we compute the maximum population across all the rows?

How can we compute the 20th percentile value of population?

How can we compute a Boolean array indicating whether the state is 'Ohio'?

How can we select and print just the rows for Ohio?

How can we create a new DataFrame containing only the Ohio records?

How can we select and print just the rows in which population is more than 2?

How could we compute the mean of population that is in Ohio, averaging across years?

How can we print the DataFrame, sorted by State and within State, by Population?

How can we print the row for Ohio, 2002, selecting on its values (not on row and column indexes)?

How can we use row and column indexing to set the population of Ohio in 2002 to 3.4?

How can we use row and column indexing to append a new record for Utah, initially with no population or year?

How can we set the population to 2.5 and year to 2001 for the new record?